<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

  <!-- ID -->
  <ng-container matColumnDef="id">
    <th mat-header-cell *matHeaderCellDef> ID </th>
    <td mat-cell *matCellDef="let c"> {{ c.id }} </td>
  </ng-container>

  <!-- Nom -->
  <ng-container matColumnDef="nom">
    <th mat-header-cell *matHeaderCellDef> Nom </th>
    <td mat-cell *matCellDef="let c"> {{ c.nom }} </td>
  </ng-container>

  <!-- Prénom -->
  <ng-container matColumnDef="prenom">
    <th mat-header-cell *matHeaderCellDef> Prénom </th>
    <td mat-cell *matCellDef="let c"> {{ c.prenom }} </td>
  </ng-container>

  <!-- Email -->
  <ng-container matColumnDef="email">
    <th mat-header-cell *matHeaderCellDef> Email </th>
    <td mat-cell *matCellDef="let c"> {{ c.email }} </td>
  </ng-container>

  <!-- Téléphone -->
  <ng-container matColumnDef="telephone">
    <th mat-header-cell *matHeaderCellDef> Téléphone </th>
    <td mat-cell *matCellDef="let c"> {{ c.telephone }} </td>
  </ng-container>

  <!-- Adresse -->
  <ng-container matColumnDef="adresse">
    <th mat-header-cell *matHeaderCellDef> Adresse </th>
    <td mat-cell *matCellDef="let c"> {{ c.adresse }} </td>
  </ng-container>

  <!-- Date création -->
  <ng-container matColumnDef="dateCreation">
    <th mat-header-cell *matHeaderCellDef> Créé le </th>
    <td mat-cell *matCellDef="let c"> {{ c.dateCreation | date }} </td>
  </ng-container>

  <!-- Header -->
  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>

  <!-- Rows -->
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

</table>
