mat-card{
  width: 400px;
  margin: 2em auto;
  text-align: center;
  background-color:white;
}
mat-form-field{
  display: block;
}
input {
  background-color: var(--mat-sys-primary);
  color:var(--mat-sys-primary) !important
}
