@use '@angular/material' as mat;

/* === Angular Material Theme === */
html {
  color-scheme: light dark;
  @include mat.theme((
    color: mat.$violet-palette,
    typography: Roboto,
    density: 0
  ));
}

/* === Tailwind (SEUL @import autorisé car @use est impossible) === */
@import "tailwindcss";

/* === Global styles === */
html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}


/* Fix autofill Chrome */
input.mat-mdc-input-element:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 1000px var(--mat-sys-surface-variant)
 inset ;
  -webkit-text-fill-color: black !important;
}





